                  </div>
                </div>
              </div>
             <div class="printfooter"></div>
             <!-- end content -->
             </div>
        <div class="wrap">
        	<div id="footer">
        		<div class="left">
        			<ul>
        				<li> Hosted by Github Pages</li>
                    </ul>
                </div>
                <div class="right">
                	<ul>
                		<!-- <li><a href="Bongo_Disclaimer.html">Disclaimer</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="copyright">Copyright &copy; 2007 - 2014 Bongo Project, All rights reserved. <br />
               Icons used on this website are from <a href="http://tango-project.org/">The Tango Project</a>.<br />
               <span class="valid"> <a href="http://validator.w3.org/check?uri=http://bongo-project.org">XHTML</a></span> <span class="valid"> <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://bongo-project.org">CSS</a></span>
            </div>
        </div>
      </body>
</html> 