<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="all.css" media="screen" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Bongo-project</title>
  </head>
   <body>
   	    <div class="wrap">
   	    	<div id="header">
<!-- Navigation -->
   	    		<div id="navi">
   	    			<div class="left">
   	    				<ul>
   	    					<li><a href="/">Home</a></li>
                            <li>|</li>
                            <li><a href="http://planet.bongo-project.org/">Blogs</a></li>
                            <li>|</li>
                            <li><a href="http://developers.bongo-project.org/">Developers</a></li>
                        </ul>
                    </div>
                </div>
<!-- /Navigation -->
                <div id="logo">
                	<a href="/" title="Main Page"><img src="images/bongo.png" alt="Bongo Project" /></a>
                </div>
                <div id="categories">
                	<h1>Main Page</h1>
                </div>
            </div>
        </div>
