<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" media="screen"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Bongo-project</title>
  </head>
   <body>
   	    <div class="wrap">
   	    	<div id="header">
<!-- Navigation -->
   	    		<div id="navi">
   	    			<div class="left">
   	    				<ul>
   	    					<li><a href="/">Home</a></li>
                            <li>|</li>
                            <li><a href="http://planet.bongo-project.org/">Blogs</a></li>
                            <li>|</li>
                            <li><a href="http://developers.bongo-project.org/">Developers</a></li>
                        </ul>
                    </div>
                </div>
<!-- /Navigation -->
                <div id="logo">
                	<a href="/" title="Main Page"><img src="images/bongo.png" alt="Bongo Project" /></a>
                </div>
                <div id="categories">
                	<h1>Main Page</h1>
                </div>
            </div>
        </div>
        <div class="wrap">
        	<div id="container">
        		<div class="subnav">
        			<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
        			<div class='portlet' id='p-navigation'>
        				<div class='pBody'>
        					<ul>
        						<li style="list-style-image: url(images/icons/go-home.png);"><a href="/">Main Page</a></li>
                                <li style="list-style-image: url(images/icons/emblem-photos-1.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Tour">Tour</a></li>
                                <li style="list-style-image: url(images/icons/package-x-generic.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Installation">Install</a></li>
                                <li style="list-style-image: url(images/icons/applications-accessories.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Getting_Involved">Getting Involved</a></li>
                                <li style="list-style-image: url(images/icons/x-office-document.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Documentation">Documentation</a></li>
                                <li style="list-style-image: url(images/icons/x-office-address-book.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Guides">Guides</a></li>
                                <li style="list-style-image: url(images/icons/applications-development.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Team">Team</a></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div class="content"> 