        <div class="wrap">
        	<div id="container">
        		<div class="subnav">
        			<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
        			<div class='portlet' id='p-navigation'>
        				<div class='pBody'>
        					<ul>
        						<li style="list-style-image: url(images/icons/go-home.png);"><a href="/">Main Page</a></li>
                                <li style="list-style-image: url(images/icons/emblem-photos-1.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Tour">Tour</a></li>
                                <li style="list-style-image: url(images/icons/package-x-generic.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Installation">Install</a></li>
                                <li style="list-style-image: url(images/icons/applications-accessories.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Getting_Involved">Getting Involved</a></li>
                                <li style="list-style-image: url(images/icons/x-office-document.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Documentation">Documentation</a></li>
                                <li style="list-style-image: url(images/icons/x-office-address-book.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Guides">Guides</a></li>
                                <li style="list-style-image: url(images/icons/applications-development.png);"><a href="https://github.com/bongo-project/bongo-project/wiki/Team">Team</a></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div class="content">