                  <div class="split-half" style="width:25%">
                  	<div class="box">
                  		<div class="box-top"><h4 class="box-header"> <span class="mw-headline" id="Try_Bongo.21"> Try Bongo!</span></h4></div>
                  		<div class="box-content">
                  			<div class="box-list">
                  				<p>Bongo is software in development. We'd love you to test it, but you will need to expect bugs.</p>
                  				<p>Read our <a href="Documentation/Frequently_Asked_Questions.html" title="Frequently Asked Questions">FAQ</a> before <a href="https://github.com/bongo-project/bongo-project/wiki/Installation" title="Installation">installing</a>!</p>
                  					  
                            </div>
                        </div>
                        <div class="box-bottom"></div>
                    </div>
                    <div style="height:10px"></div>
                    <div class="box">
                    	<div class="box-top"><h4 class="box-headline"> <span class="mw-headline" id="Planet_Bongo">Planet Bongo</span></h4></div>
                        <div class="box-content">
                        	<div class="box-list">
                        		<p></p>
                            </div>
                        </div>
                        <div class="box-bottom"></div>
                    </div>
                    <div style="height:10px"></div>
                    <div class="box">
                    	<div class="box-top"><h4 class="box-header"> <span class="mw-headline" id="Feeds"><span class="feed">Feeds</span></span></h4></div>
                        <div class="box-content">
                        	<div class="box-list clear-list">
                        		<ul>
                        			<!--   <li> <a rel="nofollow" class="external text" href="http://www.bongo-project.org/Special:Recentchanges&amp;feed=rss">Recent Changes</a></li>
                                    <li> <a rel="nofollow" class="external text" href="http://www.bongo-project.org/Special:Newpages&amp;feed=rss">New Pages</a></li> -->
                                </ul>
                           </div>
                        </div>
                     </div>